{% extends "base.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <div>
        Certificates issued / signed by: <a href="./{{root.public_key}}.html">{{ root.name }}</a>
    </div>
    <h1>Verified Certificates (VCs)</h1>
    <div class="flex flex-column">
        {% for c in certs %}
            <div class="mb2">
                <a href="./{{ c.public_key }}.html">{{ c.name }}</a>
                <div class="f5 courier black">{{c.public_key}}</div>
            </div>
        {% else %}
            <div class="f4">No certs yet!</div>
        {% endfor %}
    </div>
{% endblock %}
